body::before {
    display: block;
    content: '';
    height:0px;
}

/* navbar area */

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
}
.navbar .navbar-nav {
    margin-right: 3rem;
}

  .navbar {
      background: #7c56560a;
  }

  .navbar .navbar-brand  {
      font-size: 1.5rem;
      color: #000;
      background: linear-gradient(70deg, #98FF98 40%, #FFCDD2 100% );
  }

  .navbar .nav-link{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 6px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem;
    color: #141313;
}

a.nav-link.active{
    background: #08B7A5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

 .nav-link:hover{
    background: #08B7A5;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
  
/* End navbar area */

 
/* introduction */

.site-introduction {
    background-color: #fff;
    color: #000;
}

.intro-image {
    border: 5px solid #98FF98;
    height: 95vh;
}

 

 .site-introduction h1 {
     font-size: 2.5rem;
     font-style: italic;
     font-family: cursive;
 }

.site-introduction h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #666;
}

.site-introduction h3 {
    font-style: italic;
    font-weight: 500;
}

.site-introduction h5 {
    font-size: 2.5rem;
    background: rgba(153, 153, 153, 0.171);
}

.site-introduction h6 {
    font-size: 1.2rem;
}

.site-introduction .img-fluid {
    margin-right: 6.5rem;
}
 

/* date */

.date {
    margin-top: 2rem;
}

.date .card-date {
    background: #000;
    color: #fff;
}

.date .exact-date {
    font-style: italic;
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date .countdown {
    font-size: 1.5rem;
}

/* about area */
 .about-area {
     background-color: #fff;
     color: #000;
     margin: 3rem 0;
 }

 .about-area h1 {
     font-size: 2.5rem;
 }

 .about-area h3 {
     font-size: 1.5rem;
 }

 .about-area  th {
     font-size: 1.5rem;
     padding-right: 0.5rem;
 }

 .about-area .about-text {
     margin-left: 4.5rem;
 }

 .venue-img {
     border: 5px solid #98FF98;
 }

 /* End about area */
 

 /* services area */
  .services {
      background-color: #fff;
      color: #000;
      margin: 5rem 0; 
  }

  .services .card p > a {
      text-decoration: none;
      color: #000;
      font-size: 1.5rem;
  }

  .services .card p > a:hover,
  .services .card p > a:focus {
      color: #08B7A5;
  }

  .services .card {
    background: linear-gradient(70deg, #98FF98 40%, #FFCDD2 100% );
      box-shadow: 0px 10px 30px rgba(6, 1, 29, 0.473);
      padding-bottom: 1rem;
  }

  .services .card .card-body h3 {
      color: #000;
  }

  .services .services-header {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 2rem;
  }

  .services .card-body .rsvp-img {
      width: 15%;
      border-radius: 100%;
      margin-bottom: 1rem;
  }

  .modal-btn {
    background: linear-gradient(70deg, #98FF98 40%, #FFCDD2 100% );
    border: none;
  }

  .modal-btn:hover,
  .modal-btn:focus {
    background: linear-gradient(70deg, #FFCDD2 40%, #98FF98 100% );
  }

/* 
  .services .font-awesome {
      color: #fff;
      font-size: 3rem ;
  } */

  /* Project area */
 

 .project-area .title-h1 {
    font-size: 2rem;
}

.project-area h4, span {
    padding-left: 2rem;
}

.button-group  button{
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}


.project-area .grid .our-project .img a img {
    margin: 1.5rem 0;
    width: 90%;
    height: 90vh;
    border: 5px solid #98FF98;
}

.project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #6d6a6a);
}
  
/* End Project area */

/* footer area */

  .footer-area .copyright .fonts a > i {
      font-size: 2rem;
      padding: 2rem;
      color: #999;
  }

  .footer-area .copyright .fonts a:hover > i,
  .footer-area .copyright .fonts a:focus > i {
      color: #08B7A5;
  }
 
  .footer-area .copyrights .para > a {
      text-decoration: none;
      font-size: 1rem;
      color: #08B7A5;
  }
 

/* End footer area */

 


 





@media(min-width: 768px)  {
    .news-input{
        width: 75%;
    }

    .subscribe {
        font-family: sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        overflow: hidden;
        margin: 0 10rem;
        flex-direction: column;
    }
   
}


@media (min-width: 391px) and (max-width: 500px) {

    .navbar .navbar-brand {
        font-size: 2.5rem;
    }

    .about-area .about-text {
        margin-left: 0;
    }

    .site-introduction .site-title {
        margin-top: 0;
        margin-right: 0;
    }

    
.site-introduction .img-fluid {
    margin-right: 0;
    height: 55vh;
}

.site-introduction {
    margin-top: 2rem;
}

.project-area .grid .our-project .img a img {
    width: 100vh;
    height: 55vh;
    border: 5px solid #98FF98;
}
 

.footer-area .copyrights .para a {
    text-decoration: none;
    font-size: 1.5rem;
}
 
 

}


@media (max-width: 390px) {
  
    .navbar .navbar-brand {
        font-size: 2.5rem;
        padding: 0;
    }

    .intro-image {
        border: 5px solid #98FF98;
        height: 55vh;
    }
    

    .site-introduction .site-title {
        margin: 1.5rem 0;
    }

    .site-introduction .img-fluid {
        margin-right: 0;
    }

    .button-group  button {
        font-size: 0.9rem;
    }

    .subscribe .input-group {
        left: 0;
    }

    
 .site-introduction h1 {
    font-size: 2.5rem;
    font-style: italic;
    font-family: cursive;
}

.site-introduction h2 {
   font-size: 1.5rem;
   font-weight: 400;
   color: #666;
}

.site-introduction h3 {
   font-style: italic;
   font-weight: 500;
}

.site-introduction h5 {
   font-size: 2.5rem;
   background: rgba(153, 153, 153, 0.171);
}

.site-introduction h6 {
   font-size: 1.2rem;
}

.date .exact-date {
    font-style: italic;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.modal-btn {
    background: linear-gradient(70deg, #98FF98 40%, #FFCDD2 100% );
    border: none;
  }

  .modal-btn:hover,
  .modal-btn:focus {
    background: linear-gradient(70deg, #FFCDD2 40%, #98FF98 100% );
  }

    
.project-area .grid .our-project .img a img {
    margin: 1.5rem 0;
    width: 99%;
    height: 58vh;
}
    
  .services .card-body .rsvp-img {
    width: 25%;
    border-radius: 100%;
}

    
 .about-area .about-text {
    margin-left: 0rem;
}



    .footer-area .copyright .fonts a > i {
        font-size: 2rem;
        padding: 0.5rem;
        color: #999;
    }

    .footer-area .copyrights .para a {
        text-decoration: none;
        font-size: 1.5rem;
    }
  

}